/* line 6, ../../src/scss/core/_reset.scss */

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../src/scss/core/_reset.scss */

html,
body {
  -webkit-text-size-adjust: none;
}

/* line 14, ../../src/scss/core/_reset.scss */

html,
body,
div,
span,
header,
footer,
aside,
nav,
menu,
main,
section,
article,
details,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
em,
small,
big,
strong,
b,
u,
i,
sub,
sup,
del,
strike,
q,
blockquote,
cite,
time,
address,
code,
pre,
a,
img,
center,
hr,
form,
fieldset,
legend,
label,
input,
textarea,
button,
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td,
iframe,
object,
canvas,
audio,
video,
embed {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../../src/scss/core/_reset.scss */

header,
footer,
aside,
menu,
nav,
section,
article,
details {
  display: block;
}

/* line 26, ../../src/scss/core/_reset.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../src/scss/core/_reset.scss */

script {
  display: none !important;
}

/* line 14, ../../src/scss/core/_global.scss */

html,
body {
  width: 100% !important;
  min-height: 100%;
  background: white;
}

/* line 21, ../../src/scss/core/_global.scss */

html {
  width: 100%;
  height: 100%;
}

/* line 26, ../../src/scss/core/_global.scss */

hr {
  border: 0;
  border-bottom: 1px solid #dddddd;
  margin: 10px auto;
  clear: both;
}

/* line 33, ../../src/scss/core/_global.scss */

img,
a img {
  max-width: 100%;
  border: none;
}

/* line 10, ../../src/scss/core/_helpers.scss */

.clear,
.clearfix {
  clear: both;
}

/* line 11, ../../src/scss/core/_helpers.scss */

.clear:after,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

/* line 14, ../../src/scss/core/_helpers.scss */

.padded,
article,
aside {
  padding: 10px;
}

/* line 15, ../../src/scss/core/_helpers.scss */

.half-padded {
  padding: 5px;
}

/* line 16, ../../src/scss/core/_helpers.scss */

.double-padded {
  padding: 20px;
}

/* line 17, ../../src/scss/core/_helpers.scss */

.triple-padded {
  padding: 30px;
}

/* line 19, ../../src/scss/core/_helpers.scss */

.pad-top {
  padding-top: 10px;
}

/* line 20, ../../src/scss/core/_helpers.scss */

.half-pad-top {
  padding-top: 5px;
}

/* line 21, ../../src/scss/core/_helpers.scss */

.double-pad-top {
  padding-top: 20px;
}

/* line 22, ../../src/scss/core/_helpers.scss */

.triple-pad-top {
  padding-top: 30px;
}

/* line 24, ../../src/scss/core/_helpers.scss */

.pad-right {
  padding-right: 10px;
}

/* line 25, ../../src/scss/core/_helpers.scss */

.half-pad-right {
  padding-right: 5px;
}

/* line 26, ../../src/scss/core/_helpers.scss */

.double-pad-right {
  padding-right: 20px;
}

/* line 27, ../../src/scss/core/_helpers.scss */

.triple-pad-right {
  padding-right: 30px;
}

/* line 29, ../../src/scss/core/_helpers.scss */

.pad-bottom {
  padding-bottom: 10px;
}

/* line 30, ../../src/scss/core/_helpers.scss */

.half-pad-bottom {
  padding-bottom: 5px;
}

/* line 31, ../../src/scss/core/_helpers.scss */

.double-pad-bottom {
  padding-bottom: 20px;
}

/* line 32, ../../src/scss/core/_helpers.scss */

.triple-pad-bottom {
  padding-bottom: 30px;
}

/* line 34, ../../src/scss/core/_helpers.scss */

.pad-left {
  padding-left: 10px;
}

/* line 35, ../../src/scss/core/_helpers.scss */

.half-pad-left {
  padding-left: 5px;
}

/* line 36, ../../src/scss/core/_helpers.scss */

.double-pad-left {
  padding-left: 20px;
}

/* line 37, ../../src/scss/core/_helpers.scss */

.triple-pad-left {
  padding-left: 30px;
}

/* line 39, ../../src/scss/core/_helpers.scss */

.gapped {
  margin: 10px;
}

/* line 40, ../../src/scss/core/_helpers.scss */

.half-gapped {
  margin: 5px;
}

/* line 41, ../../src/scss/core/_helpers.scss */

.double-gapped {
  margin: 20px;
}

/* line 42, ../../src/scss/core/_helpers.scss */

.triple-gapped {
  margin: 30px;
}

/* line 44, ../../src/scss/core/_helpers.scss */

.gap-top {
  margin-top: 10px;
}

/* line 45, ../../src/scss/core/_helpers.scss */

.half-gap-top {
  margin-top: 5px;
}

/* line 46, ../../src/scss/core/_helpers.scss */

.double-gap-top {
  margin-top: 20px;
}

/* line 47, ../../src/scss/core/_helpers.scss */

.triple-gap-top {
  margin-top: 30px;
}

/* line 49, ../../src/scss/core/_helpers.scss */

.gap-right {
  margin-right: 10px;
}

/* line 50, ../../src/scss/core/_helpers.scss */

.half-gap-right {
  margin-right: 5px;
}

/* line 51, ../../src/scss/core/_helpers.scss */

.double-gap-right {
  margin-right: 20px;
}

/* line 52, ../../src/scss/core/_helpers.scss */

.triple-gap-right {
  margin-right: 30px;
}

/* line 54, ../../src/scss/core/_helpers.scss */

.gap-bottom {
  margin-bottom: 10px;
}

/* line 55, ../../src/scss/core/_helpers.scss */

.half-gap-bottom {
  margin-bottom: 5px;
}

/* line 56, ../../src/scss/core/_helpers.scss */

.double-gap-bottom {
  margin-bottom: 20px;
}

/* line 57, ../../src/scss/core/_helpers.scss */

.triple-gap-bottom {
  margin-bottom: 30px;
}

/* line 59, ../../src/scss/core/_helpers.scss */

.gap-left {
  margin-left: 10px;
}

/* line 60, ../../src/scss/core/_helpers.scss */

.half-gap-left {
  margin-left: 5px;
}

/* line 61, ../../src/scss/core/_helpers.scss */

.double-gap-left {
  margin-left: 20px;
}

/* line 62, ../../src/scss/core/_helpers.scss */

.triple-gap-left {
  margin-left: 30px;
}

/* line 64, ../../src/scss/core/_helpers.scss */

.offset {
  margin: -10px;
}

/* line 65, ../../src/scss/core/_helpers.scss */

.half-offset {
  margin: -5px;
}

/* line 66, ../../src/scss/core/_helpers.scss */

.double-offset {
  margin: -20px;
}

/* line 67, ../../src/scss/core/_helpers.scss */

.triple-offset {
  margin: -30px;
}

/* line 69, ../../src/scss/core/_helpers.scss */

.offset-top {
  margin-top: -10px;
}

/* line 70, ../../src/scss/core/_helpers.scss */

.half-offset-top {
  margin-top: -5px;
}

/* line 71, ../../src/scss/core/_helpers.scss */

.double-offset-top {
  margin-top: -20px;
}

/* line 72, ../../src/scss/core/_helpers.scss */

.triple-offset-top {
  margin-top: -30px;
}

/* line 74, ../../src/scss/core/_helpers.scss */

.offset-right {
  margin-right: -10px;
}

/* line 75, ../../src/scss/core/_helpers.scss */

.half-offset-right {
  margin-right: -5px;
}

/* line 76, ../../src/scss/core/_helpers.scss */

.double-offset-right {
  margin-right: -20px;
}

/* line 77, ../../src/scss/core/_helpers.scss */

.triple-offset-right {
  margin-right: -30px;
}

/* line 79, ../../src/scss/core/_helpers.scss */

.offset-bottom {
  margin-bottom: -10px;
}

/* line 80, ../../src/scss/core/_helpers.scss */

.half-offset-bottom {
  margin-bottom: -5px;
}

/* line 81, ../../src/scss/core/_helpers.scss */

.double-offset-bottom {
  margin-bottom: -20px;
}

/* line 82, ../../src/scss/core/_helpers.scss */

.triple-offset-bottom {
  margin-bottom: -30px;
}

/* line 84, ../../src/scss/core/_helpers.scss */

.offset-left {
  margin-left: -10px;
}

/* line 85, ../../src/scss/core/_helpers.scss */

.half-offset-left {
  margin-left: -5px;
}

/* line 86, ../../src/scss/core/_helpers.scss */

.double-offset-left {
  margin-left: -20px;
}

/* line 87, ../../src/scss/core/_helpers.scss */

.triple-offset-left {
  margin-left: -30px;
}

/* line 89, ../../src/scss/core/_helpers.scss */

.stick,
.fixed {
  position: fixed;
}

/* line 90, ../../src/scss/core/_helpers.scss */

.stick.top,
.fixed.top {
  position: fixed;
  top: 0;
}

/* line 91, ../../src/scss/core/_helpers.scss */

.stick.right,
.fixed.right {
  position: fixed;
  right: 0;
}

/* line 92, ../../src/scss/core/_helpers.scss */

.stick.bottom,
.fixed.bottom {
  position: fixed;
  bottom: 0;
}

/* line 93, ../../src/scss/core/_helpers.scss */

.stick.left,
.fixed.left {
  position: fixed;
  left: 0;
}

/* line 94, ../../src/scss/core/_helpers.scss */

.stick.middle,
.fixed.middle {
  position: fixed;
  top: 50%;
}

/* line 95, ../../src/scss/core/_helpers.scss */

.stick.center,
.fixed.center {
  position: fixed;
  left: 50%;
}

/* line 97, ../../src/scss/core/_helpers.scss */

.absolute {
  position: absolute;
}

/* line 98, ../../src/scss/core/_helpers.scss */

.absolute.top {
  position: absolute;
  top: 0;
}

/* line 99, ../../src/scss/core/_helpers.scss */

.absolute.right {
  position: absolute;
  right: 0;
}

/* line 100, ../../src/scss/core/_helpers.scss */

.absolute.bottom {
  position: absolute;
  bottom: 0;
}

/* line 101, ../../src/scss/core/_helpers.scss */

.absolute.left {
  position: absolute;
  left: 0;
}

/* line 102, ../../src/scss/core/_helpers.scss */

.absolute.middle {
  position: absolute;
  top: 50%;
}

/* line 103, ../../src/scss/core/_helpers.scss */

.absolute.center {
  position: absolute;
  left: 50%;
}

/* line 105, ../../src/scss/core/_helpers.scss */

.relative {
  position: relative;
}

/* line 106, ../../src/scss/core/_helpers.scss */

.static {
  position: static;
}

/* line 108, ../../src/scss/core/_helpers.scss */

.inline {
  display: inline;
}

/* line 109, ../../src/scss/core/_helpers.scss */

.inline-block {
  display: inline-block;
  width: auto;
}

/* line 110, ../../src/scss/core/_helpers.scss */

.block {
  display: block;
}

/* line 111, ../../src/scss/core/_helpers.scss */

.hidden {
  display: none !important;
}

/* line 113, ../../src/scss/core/_helpers.scss */

.small {
  font-size: 0.8em;
}

/* line 114, ../../src/scss/core/_helpers.scss */

.medium {
  font-size: 1em;
}

/* line 115, ../../src/scss/core/_helpers.scss */

.large {
  font-size: 1.5em;
}

/* line 120, ../../src/scss/core/_helpers.scss */

html,
body,
.unstyled,
.zero {
  margin: 0;
  padding: 0;
}

/* line 122, ../../src/scss/core/_helpers.scss */

.pull-right {
  float: right;
}

/* line 123, ../../src/scss/core/_helpers.scss */

.pull-left {
  float: left;
}

/* line 124, ../../src/scss/core/_helpers.scss */

.pull-none {
  float: none;
}

/* line 126, ../../src/scss/core/_helpers.scss */

.center {
  display: block;
  margin: 0 auto;
}

/* line 128, ../../src/scss/core/_helpers.scss */

.bordered {
  border: 1px solid #dddddd;
}

/* line 129, ../../src/scss/core/_helpers.scss */

.border-top {
  border-top: 1px solid #dddddd;
}

/* line 130, ../../src/scss/core/_helpers.scss */

.border-right {
  border-right: 1px solid #dddddd;
}

/* line 131, ../../src/scss/core/_helpers.scss */

.border-bottom {
  border-bottom: 1px solid #dddddd;
}

/* line 132, ../../src/scss/core/_helpers.scss */

.border-left {
  border-left: 1px solid #dddddd;
}

/* line 134, ../../src/scss/core/_helpers.scss */

.align-top {
  display: table-cell;
  vertical-align: top;
}

/* line 135, ../../src/scss/core/_helpers.scss */

.align-right {
  text-align: right;
}

/* line 136, ../../src/scss/core/_helpers.scss */

.align-bottom {
  display: table-cell;
  vertical-align: bottom;
}

/* line 137, ../../src/scss/core/_helpers.scss */

.align-left {
  text-align: left;
}

/* line 138, ../../src/scss/core/_helpers.scss */

.align-center {
  text-align: center;
}

/* line 139, ../../src/scss/core/_helpers.scss */

.justify {
  text-align: justify;
}

/* line 140, ../../src/scss/core/_helpers.scss */

.unstyled {
  list-style: none;
}

/* line 142, ../../src/scss/core/_helpers.scss */

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 144, ../../src/scss/core/_helpers.scss */

.square {
  border-radius: 0;
}

/* line 145, ../../src/scss/core/_helpers.scss */

.round {
  border-radius: 9999em;
}

/* line 147, ../../src/scss/core/_helpers.scss */

.rotate-90 {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 148, ../../src/scss/core/_helpers.scss */

.rotate-90-ctr {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 149, ../../src/scss/core/_helpers.scss */

.rotate-180 {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 150, ../../src/scss/core/_helpers.scss */

.rotate-180-ctr {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 151, ../../src/scss/core/_helpers.scss */

.rotate-270 {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 152, ../../src/scss/core/_helpers.scss */

.rotate-270-ctr {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

/* line 153, ../../src/scss/core/_helpers.scss */

.rotate-360 {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 154, ../../src/scss/core/_helpers.scss */

.rotate-360-ctr {
  display: inline-block;
  width: auto;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

/* line 18, ../../src/scss/core/mixins/_layout.scss */

.one-column {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

/* line 18, ../../src/scss/core/mixins/_layout.scss */

.two-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

/* line 18, ../../src/scss/core/mixins/_layout.scss */

.three-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

/* line 18, ../../src/scss/core/mixins/_layout.scss */

.four-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

/* line 18, ../../src/scss/core/mixins/_layout.scss */

.five-columns {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

/* line 18, ../../src/scss/core/mixins/_layout.scss */

.six-columns {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

/* line 225, ../../src/scss/core/_helpers.scss */

.transition {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 228, ../../src/scss/core/_helpers.scss */

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* line 29, ../../src/scss/core/_grid.scss */

[role="main"] {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 38, ../../src/scss/core/_grid.scss */

section {
  clear: both;
  width: 100%;
}

/* line 7, ../../src/scss/core/mixins/_helpers.scss */

section:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

/* line 100, ../../src/scss/core/_grid.scss */

.one-up {
  width: 100% !important;
  clear: none !important;
  float: left !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../../src/scss/core/_grid.scss */

.one-up:nth-child(1n+1) {
  clear: both !important;
}

/* line 100, ../../src/scss/core/_grid.scss */

.two-up {
  width: 50% !important;
  clear: none !important;
  float: left !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../../src/scss/core/_grid.scss */

.two-up:nth-child(2n+1) {
  clear: both !important;
}

/* line 100, ../../src/scss/core/_grid.scss */

.three-up {
  width: 33.33333% !important;
  clear: none !important;
  float: left !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../../src/scss/core/_grid.scss */

.three-up:nth-child(3n+1) {
  clear: both !important;
}

/* line 100, ../../src/scss/core/_grid.scss */

.four-up {
  width: 25% !important;
  clear: none !important;
  float: left !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../../src/scss/core/_grid.scss */

.four-up:nth-child(4n+1) {
  clear: both !important;
}

/* line 100, ../../src/scss/core/_grid.scss */

.five-up {
  width: 20% !important;
  clear: none !important;
  float: left !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../../src/scss/core/_grid.scss */

.five-up:nth-child(5n+1) {
  clear: both !important;
}

/* line 100, ../../src/scss/core/_grid.scss */

.six-up {
  width: 16.66667% !important;
  clear: none !important;
  float: left !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../../src/scss/core/_grid.scss */

.six-up:nth-child(6n+1) {
  clear: both !important;
}

@media (min-width: 1025px) {
  /* line 112, ../../src/scss/core/_grid.scss */

  .one-up-desktop {
    width: 100% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 115, ../../src/scss/core/_grid.scss */

  .one-up-desktop:nth-child(1n+1) {
    clear: both !important;
  }

  /* line 112, ../../src/scss/core/_grid.scss */

  .two-up-desktop {
    width: 50% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 115, ../../src/scss/core/_grid.scss */

  .two-up-desktop:nth-child(2n+1) {
    clear: both !important;
  }

  /* line 112, ../../src/scss/core/_grid.scss */

  .three-up-desktop {
    width: 33.33333% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 115, ../../src/scss/core/_grid.scss */

  .three-up-desktop:nth-child(3n+1) {
    clear: both !important;
  }

  /* line 112, ../../src/scss/core/_grid.scss */

  .four-up-desktop {
    width: 25% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 115, ../../src/scss/core/_grid.scss */

  .four-up-desktop:nth-child(4n+1) {
    clear: both !important;
  }

  /* line 112, ../../src/scss/core/_grid.scss */

  .five-up-desktop {
    width: 20% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 115, ../../src/scss/core/_grid.scss */

  .five-up-desktop:nth-child(5n+1) {
    clear: both !important;
  }

  /* line 112, ../../src/scss/core/_grid.scss */

  .six-up-desktop {
    width: 16.66667% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 115, ../../src/scss/core/_grid.scss */

  .six-up-desktop:nth-child(6n+1) {
    clear: both !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) and (min-width: 481px) {
  /* line 124, ../../src/scss/core/_grid.scss */

  .one-up-ipad {
    width: 100% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 127, ../../src/scss/core/_grid.scss */

  .one-up-ipad:not(:nth-child(1n+1)) {
    clear: none !important;
  }

  /* line 130, ../../src/scss/core/_grid.scss */

  .one-up-ipad:nth-child(1n+1) {
    clear: both !important;
  }

  /* line 124, ../../src/scss/core/_grid.scss */

  .two-up-ipad {
    width: 50% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 127, ../../src/scss/core/_grid.scss */

  .two-up-ipad:not(:nth-child(2n+1)) {
    clear: none !important;
  }

  /* line 130, ../../src/scss/core/_grid.scss */

  .two-up-ipad:nth-child(2n+1) {
    clear: both !important;
  }

  /* line 124, ../../src/scss/core/_grid.scss */

  .three-up-ipad {
    width: 33.33333% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 127, ../../src/scss/core/_grid.scss */

  .three-up-ipad:not(:nth-child(3n+1)) {
    clear: none !important;
  }

  /* line 130, ../../src/scss/core/_grid.scss */

  .three-up-ipad:nth-child(3n+1) {
    clear: both !important;
  }

  /* line 124, ../../src/scss/core/_grid.scss */

  .four-up-ipad {
    width: 25% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 127, ../../src/scss/core/_grid.scss */

  .four-up-ipad:not(:nth-child(4n+1)) {
    clear: none !important;
  }

  /* line 130, ../../src/scss/core/_grid.scss */

  .four-up-ipad:nth-child(4n+1) {
    clear: both !important;
  }

  /* line 124, ../../src/scss/core/_grid.scss */

  .five-up-ipad {
    width: 20% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 127, ../../src/scss/core/_grid.scss */

  .five-up-ipad:not(:nth-child(5n+1)) {
    clear: none !important;
  }

  /* line 130, ../../src/scss/core/_grid.scss */

  .five-up-ipad:nth-child(5n+1) {
    clear: both !important;
  }

  /* line 124, ../../src/scss/core/_grid.scss */

  .six-up-ipad {
    width: 16.66667% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 127, ../../src/scss/core/_grid.scss */

  .six-up-ipad:not(:nth-child(6n+1)) {
    clear: none !important;
  }

  /* line 130, ../../src/scss/core/_grid.scss */

  .six-up-ipad:nth-child(6n+1) {
    clear: both !important;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  /* line 139, ../../src/scss/core/_grid.scss */

  .one-up-small-tablet {
    width: 100% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 142, ../../src/scss/core/_grid.scss */

  .one-up-small-tablet:not(:nth-child(1n+1)) {
    clear: none !important;
  }

  /* line 145, ../../src/scss/core/_grid.scss */

  .one-up-small-tablet:nth-child(1n+1) {
    clear: both !important;
  }

  /* line 139, ../../src/scss/core/_grid.scss */

  .two-up-small-tablet {
    width: 50% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 142, ../../src/scss/core/_grid.scss */

  .two-up-small-tablet:not(:nth-child(2n+1)) {
    clear: none !important;
  }

  /* line 145, ../../src/scss/core/_grid.scss */

  .two-up-small-tablet:nth-child(2n+1) {
    clear: both !important;
  }

  /* line 139, ../../src/scss/core/_grid.scss */

  .three-up-small-tablet {
    width: 33.33333% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 142, ../../src/scss/core/_grid.scss */

  .three-up-small-tablet:not(:nth-child(3n+1)) {
    clear: none !important;
  }

  /* line 145, ../../src/scss/core/_grid.scss */

  .three-up-small-tablet:nth-child(3n+1) {
    clear: both !important;
  }

  /* line 139, ../../src/scss/core/_grid.scss */

  .four-up-small-tablet {
    width: 25% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 142, ../../src/scss/core/_grid.scss */

  .four-up-small-tablet:not(:nth-child(4n+1)) {
    clear: none !important;
  }

  /* line 145, ../../src/scss/core/_grid.scss */

  .four-up-small-tablet:nth-child(4n+1) {
    clear: both !important;
  }

  /* line 139, ../../src/scss/core/_grid.scss */

  .five-up-small-tablet {
    width: 20% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 142, ../../src/scss/core/_grid.scss */

  .five-up-small-tablet:not(:nth-child(5n+1)) {
    clear: none !important;
  }

  /* line 145, ../../src/scss/core/_grid.scss */

  .five-up-small-tablet:nth-child(5n+1) {
    clear: both !important;
  }

  /* line 139, ../../src/scss/core/_grid.scss */

  .six-up-small-tablet {
    width: 16.66667% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 142, ../../src/scss/core/_grid.scss */

  .six-up-small-tablet:not(:nth-child(6n+1)) {
    clear: none !important;
  }

  /* line 145, ../../src/scss/core/_grid.scss */

  .six-up-small-tablet:nth-child(6n+1) {
    clear: both !important;
  }
}

@media (max-width: 480px) {
  /* line 154, ../../src/scss/core/_grid.scss */

  .one-up-mobile {
    width: 100% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 157, ../../src/scss/core/_grid.scss */

  .one-up-mobile:not(:nth-child(1n+1)) {
    clear: none !important;
  }

  /* line 160, ../../src/scss/core/_grid.scss */

  .one-up-mobile:nth-child(2) {
    clear: both !important;
  }

  /* line 154, ../../src/scss/core/_grid.scss */

  .two-up-mobile {
    width: 50% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 157, ../../src/scss/core/_grid.scss */

  .two-up-mobile:not(:nth-child(2n+1)) {
    clear: none !important;
  }

  /* line 160, ../../src/scss/core/_grid.scss */

  .two-up-mobile:nth-child(3) {
    clear: both !important;
  }

  /* line 154, ../../src/scss/core/_grid.scss */

  .three-up-mobile {
    width: 33.33333% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 157, ../../src/scss/core/_grid.scss */

  .three-up-mobile:not(:nth-child(3n+1)) {
    clear: none !important;
  }

  /* line 160, ../../src/scss/core/_grid.scss */

  .three-up-mobile:nth-child(4) {
    clear: both !important;
  }

  /* line 154, ../../src/scss/core/_grid.scss */

  .four-up-mobile {
    width: 25% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 157, ../../src/scss/core/_grid.scss */

  .four-up-mobile:not(:nth-child(4n+1)) {
    clear: none !important;
  }

  /* line 160, ../../src/scss/core/_grid.scss */

  .four-up-mobile:nth-child(5) {
    clear: both !important;
  }

  /* line 154, ../../src/scss/core/_grid.scss */

  .five-up-mobile {
    width: 20% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 157, ../../src/scss/core/_grid.scss */

  .five-up-mobile:not(:nth-child(5n+1)) {
    clear: none !important;
  }

  /* line 160, ../../src/scss/core/_grid.scss */

  .five-up-mobile:nth-child(6) {
    clear: both !important;
  }

  /* line 154, ../../src/scss/core/_grid.scss */

  .six-up-mobile {
    width: 16.66667% !important;
    clear: none !important;
    float: left !important;
    left: 0 !important;
    right: 0 !important;
  }

  /* line 157, ../../src/scss/core/_grid.scss */

  .six-up-mobile:not(:nth-child(6n+1)) {
    clear: none !important;
  }

  /* line 160, ../../src/scss/core/_grid.scss */

  .six-up-mobile:nth-child(7) {
    clear: both !important;
  }
}

/* line 6, ../../src/scss/core/_flex-box.scss */

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 10, ../../src/scss/core/_flex-box.scss */

.flex-box {
  width: percent(1);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 14, ../../src/scss/core/_flex-box.scss */

.vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: vertical;
  -ms-flex-direction: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  box-pack: center;
}

/* line 22, ../src/scss/grid-semantic.scss */

section:nth-child(1) article {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 22, ../src/scss/grid-semantic.scss */

  section:nth-child(1) article {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 22, ../src/scss/grid-semantic.scss */

  section:nth-child(1) article {
    width: 75%;
  }
}

@media (max-width: 767px) {
  /* line 22, ../src/scss/grid-semantic.scss */

  section:nth-child(1) article {
    width: 66.66667%;
  }
}

@media (max-width: 480px) {
  /* line 22, ../src/scss/grid-semantic.scss */

  section:nth-child(1) article {
    width: 50%;
  }
}

/* line 26, ../src/scss/grid-semantic.scss */

section:nth-child(1) aside {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 26, ../src/scss/grid-semantic.scss */

  section:nth-child(1) aside {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 26, ../src/scss/grid-semantic.scss */

  section:nth-child(1) aside {
    width: 25%;
  }
}

@media (max-width: 767px) {
  /* line 26, ../src/scss/grid-semantic.scss */

  section:nth-child(1) aside {
    width: 33.33333%;
  }
}

@media (max-width: 480px) {
  /* line 26, ../src/scss/grid-semantic.scss */

  section:nth-child(1) aside {
    width: 50%;
  }
}

/* line 32, ../src/scss/grid-semantic.scss */

section:nth-child(2) article {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 32, ../src/scss/grid-semantic.scss */

  section:nth-child(2) article {
    width: 71.42857%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 32, ../src/scss/grid-semantic.scss */

  section:nth-child(2) article {
    width: 75%;
  }
}

@media (max-width: 767px) {
  /* line 32, ../src/scss/grid-semantic.scss */

  section:nth-child(2) article {
    width: 66.66667%;
  }
}

@media (max-width: 480px) {
  /* line 32, ../src/scss/grid-semantic.scss */

  section:nth-child(2) article {
    width: 50%;
  }
}

/* line 36, ../src/scss/grid-semantic.scss */

section:nth-child(2) aside {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 36, ../src/scss/grid-semantic.scss */

  section:nth-child(2) aside {
    width: 28.57143%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 36, ../src/scss/grid-semantic.scss */

  section:nth-child(2) aside {
    width: 25%;
  }
}

@media (max-width: 767px) {
  /* line 36, ../src/scss/grid-semantic.scss */

  section:nth-child(2) aside {
    width: 33.33333%;
  }
}

@media (max-width: 480px) {
  /* line 36, ../src/scss/grid-semantic.scss */

  section:nth-child(2) aside {
    width: 50%;
  }
}

/* line 42, ../src/scss/grid-semantic.scss */

section:nth-child(3) article {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 42, ../src/scss/grid-semantic.scss */

  section:nth-child(3) article {
    width: 57.14286%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 42, ../src/scss/grid-semantic.scss */

  section:nth-child(3) article {
    width: 75%;
  }
}

@media (max-width: 767px) {
  /* line 42, ../src/scss/grid-semantic.scss */

  section:nth-child(3) article {
    width: 66.66667%;
  }
}

@media (max-width: 480px) {
  /* line 42, ../src/scss/grid-semantic.scss */

  section:nth-child(3) article {
    width: 50%;
  }
}

/* line 46, ../src/scss/grid-semantic.scss */

section:nth-child(3) aside {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 46, ../src/scss/grid-semantic.scss */

  section:nth-child(3) aside {
    width: 42.85714%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 46, ../src/scss/grid-semantic.scss */

  section:nth-child(3) aside {
    width: 25%;
  }
}

@media (max-width: 767px) {
  /* line 46, ../src/scss/grid-semantic.scss */

  section:nth-child(3) aside {
    width: 33.33333%;
  }
}

@media (max-width: 480px) {
  /* line 46, ../src/scss/grid-semantic.scss */

  section:nth-child(3) aside {
    width: 50%;
  }
}

/* line 52, ../src/scss/grid-semantic.scss */

section:nth-child(4) article {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 52, ../src/scss/grid-semantic.scss */

  section:nth-child(4) article {
    width: 65%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 52, ../src/scss/grid-semantic.scss */

  section:nth-child(4) article {
    width: 75%;
  }
}

@media (max-width: 767px) {
  /* line 52, ../src/scss/grid-semantic.scss */

  section:nth-child(4) article {
    width: 66.66667%;
  }
}

@media (max-width: 480px) {
  /* line 52, ../src/scss/grid-semantic.scss */

  section:nth-child(4) article {
    width: 50%;
  }
}

/* line 56, ../src/scss/grid-semantic.scss */

section:nth-child(4) aside {
  float: left;
  clear: none;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1025px) {
  /* line 56, ../src/scss/grid-semantic.scss */

  section:nth-child(4) aside {
    width: 35%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 56, ../src/scss/grid-semantic.scss */

  section:nth-child(4) aside {
    width: 25%;
  }
}

@media (max-width: 767px) {
  /* line 56, ../src/scss/grid-semantic.scss */

  section:nth-child(4) aside {
    width: 33.33333%;
  }
}

@media (max-width: 480px) {
  /* line 56, ../src/scss/grid-semantic.scss */

  section:nth-child(4) aside {
    width: 50%;
  }
}